*{margin:0;padding:0;/* width: 100%; *//* height: 300px; */}

.iconphai {
    left: -10px;
    height: 83px;
    width: 10%;
    z-index: 11;
    position: absolute;
    margin-top: 25%;
}

.icontrai {
    position: absolute;
    z-index: 11;
    margin-top: 24%;
    width: 10%;
    height: 86px;
    color: #fff;
    right: -11px;
}

.mautrang img {
    width: 100%;
    height: 100%;
    position: absolute;
    float: left;
}

img.anht4 {
    z-index: 7;
}

img.da {
}

img.anht3 {
    z-index: 8;
}

img.anht2 {
    z-index: 9;
}

img.anht1 {
    z-index: 10;
}

.mautrang ul li {
    width: 100%;
    position: absolute;
    height: 700px;
    overflow: hidden;
    color: black;
    visibility: hidden;
    opacity: 0;
}

.mautrang ul {
    position: absolute;
    width: 100%;
    /* height: 100%; */
}

.mautrang {
    position: relative;
    width: 60%;
    height: 60%;
    background: #fff;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5%;
}

.mautrang {
    opacity: 0;
    visibility: hidden;
}



.mauden {
    width: 100%;
    height: 1000px;
    position: absolute;
    background: #00000096;
    top: 0px;
    opacity: 0;
    visibility: hidden;
}

body {
    overflow-x: hidden;
}

.row {
    height: 100%;
    width: 100%;
}

img.anh2 {
    width: 32%;
}

img.anh1 {
    width: 100%;
    height: 507px;
}

html,body {
    height: 100%;
    width: 100%;
}

.than {
    height: 1000px;
    width: 100%;
}
.denra{
    opacity: 1!important;
    visibility: visible!important;
}
.col-xs-3.col-sm-3.col-md-3.col-lg-3.col2 {
    height: 100%;
    background: pink;
}

.col-xs-6.col-sm-6.col-md-6.col-lg-6 {}

.col-xs-3.col-sm-3.col-md-3.col-lg-3.col1 {
    background: pink;
    height: 100%;
}

.menu {
    background: green;
    width: 100%;
    height: 80px;
}


